@media(max-width:1200px){
    .container{
        width: 100%;
        padding: 0 10px;
        
    }
    .section2 .section2_elem2 .box{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .section2 .section2_elem2 .box_elem1,.section2 .section2_elem2 .box_elem1 img{
        display: none;
    }
    .section4 .box_elem1,.section4 .box_elem1 img{
        display: none;
       
        
    }
    .section4 .box{
        text-align: center;
    }

}